# MAT 328 Techniques In Data Science Project

## New York State Tuition Assistance Program (TAP) Grants Data Analysis

### 1. Loading and cleaning the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
nys_tap_data = pd.read_csv("Tuition_Assistance_Program__TAP__Recipients___Dollars_by_College__Sector_Group__and_Level_of_Study__Beginning_2000.csv")
nys_tap_data.head()

,Academic Year,TAP College Code,Federal School Code,Level,TAP Level of Study,TAP College Name,Sector Type,TAP Sector Group,TAP Recipient Headcount,TAP Recipient FTEs,TAP Recipient Dollars
0,2019,455,12203,U,2 yr Undergrad,ST PETERS HOSP COLLEGE OF NURSING,PRIVATE,5-INDEPENDENT,4,3.60,6424.81
1,2019,1045,2900,U,4 yr Undergrad,WEBB INST OF NAVAL ARCH.,PRIVATE,5-INDEPENDENT,2,1.54,5562.01
2,2019,905,2842,U,5 yr Undergrad,SUC BUFFALO (UNDERGRAD),PUBLIC,3-SUNY SO,110,87.20,345667.37
3,2019,7740,36523,U,2 yr Undergrad,METROPOLITAN LEARNING INSTITUTE,PRIVATE,7-BUS. NON-DEG,355,334.99,1134425.48
4,2019,2070,2866,U,5 yr Undergrad,FASHION INST TECH-LOWER DIVISION,PUBLIC,4-SUNY CC,1,0.51,2573.18

In [5]:
# Drop the TAP and Federal code because it's not useful in this analysis

nys_tap_data.drop(columns = ["TAP College Code", "Federal School Code"], inplace = True)

In [6]:
nys_tap_data.head()

,Academic Year,Level,TAP Level of Study,TAP College Name,Sector Type,TAP Sector Group,TAP Recipient Headcount,TAP Recipient FTEs,TAP Recipient Dollars
0,2019,U,2 yr Undergrad,ST PETERS HOSP COLLEGE OF NURSING,PRIVATE,5-INDEPENDENT,4,3.60,6424.81
1,2019,U,4 yr Undergrad,WEBB INST OF NAVAL ARCH.,PRIVATE,5-INDEPENDENT,2,1.54,5562.01
2,2019,U,5 yr Undergrad,SUC BUFFALO (UNDERGRAD),PUBLIC,3-SUNY SO,110,87.20,345667.37
3,2019,U,2 yr Undergrad,METROPOLITAN LEARNING INSTITUTE,PRIVATE,7-BUS. NON-DEG,355,334.99,1134425.48
4,2019,U,5 yr Undergrad,FASHION INST TECH-LOWER DIVISION,PUBLIC,4-SUNY CC,1,0.51,2573.18